// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@angular/material/_theming.scss";
@include mat-core();

//customizations go here 
$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-warn: mat-palette($mat-red);

//create theme object (a SASS map containing all pallettes)
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

